@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Vazir.eot");
  src: url("../font/vazir/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir/Vazir.woff2") format("woff2"),
    url("../font/vazir/Vazir.woff") format("woff"),
    url("../font/vazir/Vazir.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Vazir.eot");
  src: url("../font/vazir/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir/Vazir.woff2") format("woff2"),
    url("../font/vazir/Vazir.woff") format("woff"),
    url("../font/vazir/Vazir.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Vazir.eot");
  src: url("../font/vazir/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir/Vazir.woff2") format("woff2"),
    url("../font/vazir/Vazir.woff") format("woff"),
    url("../font/vazir/Vazir.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Vazir-Bold.eot");
  src: url("../font/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir/Vazir-Bold.woff2") format("woff2"),
    url("../font/vazir/Vazir-Bold.woff") format("woff"),
    url("../font/vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Vazir-Bold.eot");
  src: url("../font/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir/Vazir-Bold.woff2") format("woff2"),
    url("../font/vazir/Vazir-Bold.woff") format("woff"),
    url("../font/vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Vazir-Bold.eot");
  src: url("../font/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir/Vazir-Bold.woff2") format("woff2"),
    url("../font/vazir/Vazir-Bold.woff") format("woff"),
    url("../font/vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Vazir-Bold.eot");
  src: url("../font/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir/Vazir-Bold.woff2") format("woff2"),
    url("../font/vazir/Vazir-Bold.woff") format("woff"),
    url("../font/vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Vazir-Bold.eot");
  src: url("../font/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir/Vazir-Bold.woff2") format("woff2"),
    url("../font/vazir/Vazir-Bold.woff") format("woff"),
    url("../font/vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Vazir-Bold.eot");
  src: url("../font/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/vazir/Vazir-Bold.woff2") format("woff2"),
    url("../font/vazir/Vazir-Bold.woff") format("woff"),
    url("../font/vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Farsi-Digits/Vazir-FD.ttf");
  src: url("../font/vazir/Farsi-Digits/Vazir-FD.eot")
      format("embedded-opentype"),
    url("../font/vazir/Farsi-Digits/Vazir-FD.woff2") format("woff2"),
    url("../font/vazir/Farsi-Digits/Vazir-FD.woff") format("woff"),
    url("../font/vazir/Farsi-Digits/Vazir-FD.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Farsi-Digits/Vazir-FD.ttf");
  src: url("../font/vazir/Farsi-Digits/Vazir-FD.eot")
      format("embedded-opentype"),
    url("../font/vazir/Farsi-Digits/Vazir-FD.woff2") format("woff2"),
    url("../font/vazir/Farsi-Digits/Vazir-FD.woff") format("woff"),
    url("../font/vazir/Farsi-Digits/Vazir-FD.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Farsi-Digits/Vazir-FD.ttf");
  src: url("../font/vazir/Farsi-Digits/Vazir-FD.eot")
      format("embedded-opentype"),
    url("../font/vazir/Farsi-Digits/Vazir-FD.woff2") format("woff2"),
    url("../font/vazir/Farsi-Digits/Vazir-FD.woff") format("woff"),
    url("../font/vazir/Farsi-Digits/Vazir-FD.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf");
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.eot")
      format("embedded-opentype"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff2") format("woff2"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff") format("woff"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf");
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.eot")
      format("embedded-opentype"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff2") format("woff2"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff") format("woff"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf");
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.eot")
      format("embedded-opentype"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff2") format("woff2"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff") format("woff"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf");
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.eot")
      format("embedded-opentype"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff2") format("woff2"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff") format("woff"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf");
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.eot")
      format("embedded-opentype"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff2") format("woff2"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff") format("woff"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: Vazir;
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf");
  src: url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.eot")
      format("embedded-opentype"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff2") format("woff2"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.woff") format("woff"),
    url("../font/vazir/Farsi-Digits/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "GothamLight";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Gotham/GothamLight.eot"); /* IE9 Compat Modes */
  src: local("GothamLight"), local("GothamLight"),
    url("../font/Gotham/GothamLight.woff") format("woff"),
    /* Modern Browsers */ url("../font/Gotham/GothamLight.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../font/Gotham/GothamLight.svg#Gotham")
      format("svg"); /* Legacy iOS */
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* direction: ltr; */
  /* text-align: left; */
}
a,
a:hover {
  text-decoration: "none";
}
